PORT=5000
MONGO_URI=mongodb+srv://adityakalburgi89_db_user:4IL3bP4Zd4eGcP60@gigflow.9kwpsx6.mongodb.net/?appName=Gigflow
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
db password =4IL3bP4Zd4eGcP60
db username = adityakalburgi89_db_user